<div class="container">
  <div class="row" id="edit-booking">
  </div>
  <form id="btn-delete-booking-on-edit">
    <button class="btn btn-danger btn-large">Delete</button>
  </form>
</div>

<div>Date: <input type="text" id="datepicker-edit"></div>
<button id="booking-edit" class="btn btn-primary">Bookmark</button>

<script type="text/javascript" src="/js/bookings/edit.js"></script>
