<div class="container">
  <div class="row">
    <h1>Add a Booking</h1>
    <form id="new-booking">
      <div class="form-group">
        <input id="datepicker" name="booking[date]" type="text" placeholder="Date*" class="form-control">
      </div>
      <div class="form-group">
        <input id="booking-boatId" name="booking[boat_id]" type="text" placeholder="boat-id">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

<script src="/js/bookings/new.js"></script>


