<div class="container">
  <div class="row" id="show-booking">
  </div>
  <form id="btn-edit-booking">
    <button class="btn btn-danger btn-large">Edit</button>
  </form>
  <form id="btn-delete-booking">
    <button class="btn btn-danger btn-large">Delete</button>
  </form>
</div>

<div>Date: <input type="text" id="datepicker-edit"></div>
<button id="btn-booking-edit" class="btn btn-primary">Book</button>

<script type="text/javascript" src="/js/bookings/show.js"></script>