<div class="container">
  <div class="row" id="show-booking"></div>
  <button id="btn-delete-booking" class="btn btn-danger btn-large">Delete</button>
</div>

<div>Date: <input type="text" id="datepicker-edit"></div>
<button id="btn-booking-edit" class="btn btn-primary">Change</button>

<script type="text/javascript" src="/js/bookings/show.js"></script>