<main id="homepage">
  <div class="container header-content">
    <div class="row header-content-inner">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="headline">OWN A BOAT (FOR A DAY)</h1>
        <h3 class="sub-headline">Find your perfect boat</h3>
        <a href="/boats" class="btn btn-info btn-lg btn-heading">GO</a>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript" src="/js/index.js"></script>
