<div class="container">
  <div class="row">
    <h1>Edit Boat Details</h1>
    <form method="post" action="/api/boats/boat._id?_method=PUT" id="edit-boat">
      <div class="form-group">
        <input id="edit-boat-name" name="boat[name]" type="text" max-length="35" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input id="edit-boat-type" name="boat[type]" type="text" class="form-control" placeholder="Type">
      </div>
      <div class="form-group">
        <input id="edit-boat-capacity" name="boat[capacity]" type="number" class="form-control" placeholder="Capacity">
      </div>
      <div class="form-group">
        <input id="edit-boat-make" name="boat[make]" type="text" class="form-control" placeholder="Make">
      </div>
      <div class="form-group">
        <input id="edit-boat-length" name="boat[length]" type="text" class="form-control" placeholder="Length">
      </div>
      <div class="form-group">
        <input id="edit-boat-year" name="boat[year]" type="number" class="form-control" placeholder="Year">
      </div>
      <div class="form-group">
        <input id="edit-boat-photoUrl" name="boat[photoUrl]" type="text" class="form-control" placeholder="Photo Url">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>

  </div>
</div>

<script src="/js/boats/edit.js"></script>