<div class="container" id="show">
  <div class="row">
    <div id="show-boat" class="col-xs-12 col-sm-7 col md-6">
    </div>

    <div class="col-xs-12 col-sm-5 col md-6">
      <div class="date-box">
        <h3>Make a Booking</h3>
        <strong>Date: </strong><input type="text" id="datepicker" placeholder="Choose a Date"></div>
        <button id="btn-booking" class="btn btn-primary">Send Request to Owner</button>
      </div>
    </div>

  <div class="inline">
    <form id="btn-edit-boat">
      <button class="btn btn-info btn-large">Edit</button>
    </form>
  </div>
  <div class="inline">
    <form id="btn-delete-boat">
      <button class="btn btn-default btn-large">Delete</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="/js/boats/show.js"></script>