<div class="container" id="show">
  <div class="row" id="show-boat">
  </div>
  <form id="btn-edit-boat">
    <button class="btn btn-danger btn-large">Edit</button>
  </form>
  <form id="btn-delete-boat">
    <button class="btn btn-danger btn-large">Delete</button>
  </form>
</div>

<div>Date: <input type="text" id="datepicker"></div>
<button id="btn-booking" class="btn btn-primary">Book</button>

<script type="text/javascript" src="/js/boats/show.js"></script>