<div class="container" id="show">
  <div class="row" id="show-name">
  </div>
  <form id="btn-edit-boat">
    <button class="btn btn-danger btn-large">Edit</button>
  </form>
  <form id="btn-delete-boat">
    <button class="btn btn-danger btn-large">Delete</button>
  </form>
</div>


<script type="text/javascript" src="/js/boats/show.js"></script>