<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Yacht Rentals - MARINA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href="/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript" src="/js/api.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
