<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Yacht Rentals - MARINA</title>
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
